@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}@font-face {
    font-family: "Poiret One";
    src: url("../fonts/PoiretOne-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
* {
    margin: 0;
    padding: 0;
}
body {
}
.absolute{
    position: absolute;
}
.cursorPointer {
    cursor: pointer;
}
.cursorArrow {
    cursor: default;
}
.cursorPun {
    cursor: url('../images/pun11.cur'), pointer;
}
.cursorMove {
    cursor: url('../images/pun22.cur'), move;
}
.font-10 {
    font-size: 10px;
}
.font-11 {
    font-size: 11px;
}
.font-12 {
    font-size: 12px;
}
.font-13 {
    font-size: 13px;
}
.font-14 {
    font-size: 14px;
}
.font-15 {
    font-size: 15px;
}
.font-16 {
    font-size: 16px;
}
.bg-dots {
    background: url(../images/bg-dot1.png) repeat-x;
    background-size: 4px;
    background-position: 0 70%;
}
.net-not-found-left {
    width: 100%;
    height: 15rem;
    background: url(../pictAssets/web1.png) no-repeat;
    background-size: 15rem;
    background-position: 0 0;
}
.net-not-found-right {
    width: 100%;
    height: 15rem;
    background: url(../pictAssets/web2.png) no-repeat;
    background-size: 9rem;
    background-position: 100% 0;
}
.mainCard {
    transition: all ease-out 0.2s;
}
.mainCard:hover {
    box-shadow: 0px 0px 8px #929292;
}
#wrapp {
    min-height: calc(100vh - 105px);
}

.vertAlignMain {
    vertical-align: bottom;
    margin-top: 100%;
}
.editBtnMain {
    position: relative;
    bottom: 32px;
}
.jewelboxBtnMain {
    position: relative;
    bottom: 32px;
    left: 82%;
}
.jewelboxTopbar{
    position:absolute !important;
    right: 3.5rem;
}
.jewelboxTopbar .jbBadge{
    z-index: 100;
    position:absolute !important;
    right: 1.5rem !important;
    top: 50%!important;
    font-size: 0.6rem!important;
    font-weight: bold;
} 
.status_main {
    cursor: default;
    position: absolute;
    display: inline-block;
    padding: 2px 6px 2px 6px;
    left: -31px;
    z-index: 100;
    margin-left: 100%;
    background-color: #fff;
}
.labels_block_main {
    cursor: default;
    position: absolute;
}
.va-mid {
    vertical-align: middle !important;
}
.text-bold {
    font-size: 1rem !important;
}
.label_main {
    position: relative;
    display: block;
    margin-bottom: 1px;
    text-align: left;
}
.activeSB {
    background-color: #009a97 !important;
}
.input-search-form {
    border-bottom: #0e0e0e!important;
}
.navBar600Plus {
    display: none!important;
}

.ratio {
    width: 100%; /* здесь можно установить любую нужную ширину */
}
.ratio-inner {
    position: relative;
    height: 0;
    border: none;
    overflow: hidden;
}

.ratio-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.ratio-4-3 {
    padding-top: 100%; /* 100% ширины делим на 4 и умножаем на 3 */
}
.fontsView {
    font-size: 80%;
}

.card-main-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center!important;
}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 450px) {
    #footer p {
        font-size: 10px;
    }
}
@media (max-width: 600px) {
    #search-form {
        display: none;
    }
    .navBar600Plus {
        display: flex!important;
    }
}
@media (min-width: 576px) {

}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .fontsView {
        font-size: 100%;
    }
}