.shadowBoxEdit {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.stlSelect{
    background-color: #fff;
    padding: 5px 8px 5px 8px;
    font-weight: 600;
    border: 1px dashed gray;
    cursor: pointer;
}
.stlSelect:hover {
    background-color: rgba(226, 255, 0, 0.15);
}
.image_row_proto {
    display:none;
}
.dopImg {
    max-height: 100% !important;
    margin: 0 auto;
}
#add_img {
    border: 2px dashed gray;
    cursor: pointer;
}
#add_img:hover {
    background-color: rgba(226, 255, 0, 0.15);
}
.add_img {
    position:absolute;
    top:50%;
    left:50%;
    font-size: 250%;
    margin-left:-35px;
    margin-top:-37px;
}
.add_img_text {
    position:absolute;
    top:50%;
    left:50%;
    margin-top: 8px;
    margin-left:-63.3px;
}
.img_dell {
    position: absolute !important;
    top: 0;
    right: 0;
    z-index: 100;
}
.img_inputs {
    position: relative !important;
    /*top:0px;
    left: 0px;*/
    z-index: 100;
}
.img_inputs div {
    margin: 2px 0 4px 0;
    /*padding:0px 3px 0px 3px;*/
    background-color: #fff;
    border-radius: 5px;
}
.img_inputs label{
    cursor:pointer;
    border-radius: 4px;
    width:100%;
    padding:2px 0px 2px 0px;
    margin-bottom: 0px;
    position: relative;
}
.img_inputs input{
    display: none;
}
.img_inputs label:before{
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    /*border: 1.5px solid gray;*/
    border-radius: 4px;
    vertical-align: middle;
}
.img_inputs label:hover{
    background-color: #daffdd;
}




#drop-area, #drop-areaSTL, #drop-areaAI {
    border: 2px dashed #ccc;
    /*border-radius: 20px;*/
    font-family: sans-serif;
    padding: 40px 40px 40px 40px;
}
#drop-area.highlight {
    border-color: purple;
    background-color: #00FFFF;
}
#drop-areaSTL.highlightSTL {
    border-color: purple;
    background-color: #ddffcb;
}
#drop-areaAI.highlightAI {
    border-color: purple;
    background-color: #ffcaba;
}
p {
    margin-top: 0;
}

.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.button:hover {
    background: #ddd;
}
#fileElem, #stlfileElem, #aifileElem {
    display: none;
}

.trTd td {
    padding: 0.25rem!important;
}