.imageViewer, .mainImage, .bottomImgRow div {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.imageViewer {
    min-height: 100%;
}
.imageViewer .rightPanel {
    background-color: rgba(24,24,24,0.4);
}
.rightPanel:hover {
    background-color: rgba(24, 24, 24, 0.15);
    cursor: pointer;
}
.mainImage {
    height: 30rem;
}
.loupeCursor {
    cursor: url('/web/images/loupe32.cur'), zoom-in;
}
.modal .bottomImgRow {
    background-color: rgba(24,24,24,0.4);
    position: absolute!important;
    bottom: 0;
}
.border-bottomImgRow {
    border: 2px solid rgba(24, 24, 24, 0);
}
.border-bottomImgRowActive {
    border: 2px solid rgba(95, 80, 255, 0.87);
}

@media (max-width: 1200px) {
    .mainImage {
        height: 20rem;
    }
}


#modalImageViewer {

}
#modalImageViewerContent, .ImageViewerMainImage {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#modalImageViewerContent .smallImgRow {
	background-color: rgba(24,24,24,0.4);
	position: absolute !important;
	bottom: 0;
}
.imageViewer, .mainImage, .imageSmall, .ImageViewerMainImage {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}
.mainImage {
	height: 30rem;
}
.imageSmall {
	vertical-align: middle;
	background-color: #ffffff;
}
.imageSmall:hover{
	cursor: pointer;
	opacity: 0.7;
}
.imageSmall:active{
	opacity: 0.5;
}
.dopButtons {
	position: absolute;
	top: -3.3rem;
	left: 45%;
	margin-left: -60px;
	z-index: 1001;
}
.increaseSize, .decreaseSize, .sizeFull, .sizeDefault {
	margin-left: 0.7rem !important;
	font-size: 2.5rem;
	cursor: pointer;
	color: #7b7b7b;
}
.increaseSize, .decreaseSize, .sizeFull, .sizeDefault:hover {
	opacity: 0.8;
	color: #c8abff;
}
.imgPrev-thumbnail {
	display:inline-block;
	max-width:100%;
	height:auto;
	padding:4px;
	line-height:1.42857143;
	background-color:#fff;
	border:1px solid #ddd;
	border-radius:4px;
}
.cursorGrab {
    cursor: url('/images/pun11.cur'), grab;
}
.cursorGrabbing {
    cursor: url('/images/pun22.cur'), grabbing;
}